<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      /* .container {
        border: 4px solid red;
      } */
    </style>
  </head>
  <body>
    <div class="container">
      
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Clientes
          </a>

          <form action="/cadastro">
            <button class="btn btn-sm btn-outline-secondary" type="submit">Cadastrar Cliente</button>
          </form>
        </div>
      </nav>

      <table class="table table-primary table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Data Nasc</th>
            <th scope="col">Tipo de Conta</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <script src="/scripts/clientes.js"></script>

  </body>
</html>
